{% extends 'base.html' %}
{% load static %}

{% block index %}

<style>
  .rating  i
  {
    color: yellow;
  }

  #full-stars .input
  {
    opacity: 0;
  }

</style>
#...
<!-- MODAL -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Escreva seu Comentário</h5>
      <button class="close" data-dismiss="modal">×</button></div>
      <form method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="bg-grey">
            <div class="text-center pt-2"> Rating:
              <div id="full-stars" class="d-inline text-center">
                <div class="rating-group">
                <label class="rating   label" for="id_rating_0">
                <i class="rating   icon rating   icon--star fa fa-star"></i>
                </label>
                <input class="rating   input" name="rating" id="id_rating_0" value="1" type="radio" required>
                
                <label class="rating   label" for="id_rating_1">
                <i class="rating   icon rating   icon--star fa fa-star"></i>
                </label>
                <input class="rating   input" name="rating" id="id_rating_1" value="2" type="radio" required>
                
                <label class="rating   label" for="id_rating_2">
                <i class="rating   icon rating   icon--star fa fa-star"></i>
                </label>
                <input class="rating   input" name="rating" id="id_rating_2" value="3" type="radio" required>
                
                <label class="rating   label" for="id_rating_3">
                <i class="rating   icon rating   icon--star fa fa-star"></i>
                </label>
                <input class="rating   input" name="rating" id="id_rating_3" value="4" type="radio" required>
                
                <label class="rating   label" for="id_rating_4">
                <i class="rating   icon rating   icon--star fa fa-star"></i>
                </label>
                <input class="rating   input" name="rating"
                id="id_rating_4" value="5" type="radio" checked required>
                </div>
                </div>
                
            </div>
          <hr class="m-0">
            <div class="input-field text-center p-2">
            {{ form.texto }}
            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button class="btn btn-danger" type="submit">Confirm</button>
        </div>
        </form>
      
    </div>
  </div>
</div>

  <!-- Product Details -->
  <section class="section product-detail">
    <div class="details container">
      <div class="left">
        <div class="main">
          <img src="{{ produto.image.url }}" alt="" />
        </div>
        <div class="thumbnails">
          <div class="thumbnail">
            <img src="{% static 'images/product-2.jpg' %}" alt="" />
          </div>
          <div class="thumbnail">
            <img src="{% static 'images/product-3.jpg' %}" alt="" />
          </div>
          <div class="thumbnail">
            <img src="{% static 'images/product-4.jpg' %}" alt="" />
          </div>
          <div class="thumbnail">
            <img src="{% static 'images/product-5.jpg' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="right">
        <span>Home/T-shirt</span>
        <h1>{{ produto.name }}</h1>
        <div>
          <span class="font-weight-bold  text-grey"> Hotness:
          </span> {{ produto.shu }} SHU
          </div>
          <br>
          <div>
          <span class="font-weight-bold  text-grey"> Volume:
          </span> 100ml
          </div>
          <br>
        <div class="price">R$ {{ produto.price }}</div>
        <form class="form">
          <input  type="text" placeholder=" 1" />
          <a href="cart.html" class="addCart"><i class="fas fa-shopping-cart"></i> Adicionar ao carrinho</a>
        </form>
        <h3>DETALHES DO PRODUTO</h3>
        <p class="text-justify">
          {{ produto.description }}
        </p>
        {% if produto.available %}
        <div class="alert alert-success my-3 text-center"> Available
        </div>
        {% else %}
        <div class="alert alert-danger my-3 text-center"> Currently unavailable
        </div>
        {% endif %}
        <hr>
        <div class="review">
        <span class="font-weight-bold  text-grey"> Classificação média: {{ reviews_avg }}/5.0
        </span>
        <br>
        <div class="mb-3 font-weight-bold"> 
        <a href="" class="text-warning" data-toggle="modal" data-target="#myModal"> Avalie do produto
        </a>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Related Products -->

  <section class="section related-products">
    <div class="title">
      <h2>Produtos Relacionados</h2>
      <span>Selecione uma das marcas de produtos premium e economize muito dinheiro</span>
    </div>
    <div class="product-layout container">
      <div class="product">
        <div class="img-container">
          <img src="{% static 'images/product-1.jpg' %}" alt="" />
          <div class="addCart">
            <i class="fas fa-shopping-cart"></i>
          </div>

          <ul class="side-icons">
            <span><i class="fas fa-search"></i></span>
            <span><i class="far fa-heart"></i></span>
            <span><i class="fas fa-sliders-h"></i></span>
          </ul>
        </div>
        <div class="bottom">
          <a href="">Bambi Print Mini Backpack</a>
          <div class="price">
            <span>$150</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="img-container">
          <img src="{% static 'images/product-2.jpg' %}" alt="" />
          <div class="addCart">
            <i class="fas fa-shopping-cart"></i>
          </div>

          <ul class="side-icons">
            <span><i class="fas fa-search"></i></span>
            <span><i class="far fa-heart"></i></span>
            <span><i class="fas fa-sliders-h"></i></span>
          </ul>
        </div>
        <div class="bottom">
          <a href="">Bambi Print Mini Backpack</a>
          <div class="price">
            <span>$150</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="img-container">
          <img src="{% static 'images/product-3.jpg' %}" alt="" />
          <div class="addCart">
            <i class="fas fa-shopping-cart"></i>
          </div>

          <ul class="side-icons">
            <span><i class="fas fa-search"></i></span>
            <span><i class="far fa-heart"></i></span>
            <span><i class="fas fa-sliders-h"></i></span>
          </ul>
        </div>
        <div class="bottom">
          <a href="">Bambi Print Mini Backpack</a>
          <div class="price">
            <span>$150</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="img-container">
          <img src="{% static 'images/product-4.jpg' %}" alt="" />
          <div class="addCart">
            <i class="fas fa-shopping-cart"></i>
          </div>

          <ul class="side-icons">
            <span><i class="fas fa-search"></i></span>
            <span><i class="far fa-heart"></i></span>
            <span><i class="fas fa-sliders-h"></i></span>
          </ul>
        </div>
        <div class="bottom">
          <a href="">Bambi Print Mini Backpack</a>
          <div class="price">
            <span>$150</span>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}




