
{% extends 'base.html' %}
{% load static %}

{% block index %}

  <section class="section products">
    <div class="title banner_products">
      {% if requested_categoria %}
      {% if requested_categoria.name  == 'Frutas'%}
      <h2>Novas {{ requested_categoria.name  }}</h2>
      <span>Compre uma das {{ requested_categoria.name  }} premium e economize muito dinheiro</span>  
      {%elif requested_categoria.name  == 'Verduras'%}
      <h2>Novas {{ requested_categoria.name  }}</h2>
      <span>Compre uma das {{ requested_categoria.name  }} premium e economize muito dinheiro</span>     
      {% else %}
      <h2>Novos {{ requested_categoria.name  }}</h2>
      <span>Compre um dos {{ requested_categoria.name  }} premium e economize muito dinheiro</span>      
      {% endif %}
      {% else %}
      <h2>Novos Produtos</h2>
      <span>Selecione um dos produtos premium e economize muito dinheiro</span>
      {% endif %}  
    </div>

    <div class="products-layout container">
      <div class="col-1-of-3">
        <div>
          <div class="block-title mt-4">
            <h3>Categoria</h3>
          </div>
          <br>
          <ul class="block-content list-group-item  border-0 p-0 selected">
            {% for categoria in categorias %}
            <li
            {% if categoria.slug == requested_category.slug  %}
            class="list-group-item  border-0 p-0 selected"
            {% else %}
            class="list-group-item  border-0 p-0 unselected"
            {% endif %}>
            <a href="{% url 'produtos:produtos_list_da_categoria' categoria.slug %}" class="btn btn-block text-left">
            {{ categoria.name }}
            </a>
            </li>

            {% endfor %}
    
  
          </ul>
        </div>
        <div>         
        </div>
      </div>
      <div class="col-3-of-4">
        <form action="">
          <div class="item">
            <label for="sort-by">Sort By</label>
            <select name="sort-by" id="sort-by">
              <option value="title" selected="selected">Name</option>
              <option value="number">Price</option>
              <option value="search_api_relevance">Relevance</option>
              <option value="created">Newness</option>
            </select>
          </div>
          <div class="item">
            <label for="order-by">Order</label>
            <select name="order-by" id="sort-by">
              <option value="ASC" selected="selected">ASC</option>
              <option value="DESC">DESC</option>
            </select>
          </div>
          <a href="">Apply</a>
        </form>

        <div class="product-layout">
          {% if Categoria_produtos %}
          {% for produto in Categoria_produtos %}
          <div class="product">
            <div class="img-container">
              <img src="{% static 'images/product-1.jpg' %}" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="productDetails.html">Bambi Print Mini Backpack</a>
              <div class="price">
                <span>$150</span>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          {% for produto in produtos %}
          <div class="product">
            <div class="img-container">
              <img src="{{ produto.image.url }}" alt="" />
              <div class="addCart">
                <i class="fas fa-shopping-cart"></i>
              </div>

              <ul class="side-icons">
                <span><i class="fas fa-search"></i></span>
                <span><i class="far fa-heart"></i></span>
                <span><i class="fas fa-sliders-h"></i></span>
              </ul>
            </div>
            <div class="bottom">
              <a href="{{ produto.get_absolute_url  }} ">{{ produto.name }}</a>
              <div class="price">
                <span>R$ {{ produto.price }}</span>
              </div>
            </div>
          </div>
          {% endfor %}

          {% endif %}         
        </div>

        <!-- PAGINATION -->
        <ul class="pagination">
          <span>1</span>
          <span>2</span>
          <span class="icon">››</span>
          <span class="last">Last »</span>
        </ul>
      </div>
    </div>
  </section>
  {% endblock %}

