{% load static %}

<style>
  .login
  {
    background: transparent;
    border: 1px solid yellowgreen;
    color: #000!important;
    text-align: center;
    margin-left: 17px;
  }

  .login:hover
  {
    background: yellowgreen;
    color: #fff!important;
  }
</style>

  <!-- Navigation -->
  <nav class="nav">
    <div class="wrapper container">
      <div class="logo"><a href="{% url 'index' %}">
        <img src="{% static 'images/logo.png' %}" alt="">
      </a>
      </div>
      <ul class="nav-list">
        <div class="top">
          <label for="" class="btn close-btn"><i class="fas fa-times"></i></label>
        </div>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'produtos:list_products' %}">Produtos</a></li>    
        <!-- icons -->
        <li class="icons">
          <a style="margin-right: ;" href="cart.html">
            <span>
            <img  src="{% static 'images/shoppingBag.svg' %}" alt="" />
            <small class="count d-flex">0</small>
          </span>
          </a>          
        </li>
        <li><a class="login"  href="">Login / Register</a></li>  
      </ul>
      <label for="" class="btn open-btn"><i style="font-size: 33px;  position: relative;" class="bx bx-menu-alt-right mr-0"></i></label>
    </div>
  </nav>

